.favorite_card-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-div {
  width: 95%;
  background: white;
  padding-bottom: 10px;
}

.favorites-title {
  margin: 5px;
  font-size: 20px;
  font-weight: 400;
}