.favorite_card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-div {
  width: 100%;
  padding: 0 5px 10px 5px;
  height: 210px;
  overflow-y: scroll;
}

.favorites-title-container {
  height: 30px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites-title {
  font-size: 15px;
  font-weight: 300;
}