.App {
  text-align: center;
  background-image: url('/background-image.jpg');
  background-size: inherit;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
