.favorite_card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.9);
  width: 95%;
  height: 40px;
  margin: 1rem auto;
}

h2 {
  font-size: 130%;
  color: #213982;
}

.favorite_trip-details {
  
} 

.starting-point {

} 

.destination {

}

