.favorite-button-container {
  height: 40px;
  margin-top: 5px;
  width: 95%;
  border-radius: 5px;
}

.favorite-button {
  height: 100%;
  font-size: 15px;
  background: white;
  width: 90%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
}

.favorite-delete-button {
  background-color: #c02d34;
  background-image: url('/delete.svg');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 10%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

.delete-icon {
  height: 20px;
  width: auto;
}
