header {
  height: 55px;
  width: 100%;
  background: #c02d34;
}

.logo-banner {
  left: -50px;
  position: absolute;
  height: 55px;
  width: auto;
}

.sign-in-link {
  position: absolute;
  right: 10px;
  top: 10px;
}