.itinerary-page {
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.favorite-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #c2c2c2;
}

.favorited {
  background: none;
  background-image: url('/favorite-full.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  display: block;
  margin: 5px;
  right: 10px;
  height: 20px;
  width: 20px;
}

.unfavorited {
  background: none;
  background-image: url('/favorite-empty.svg');
  background-repeat: no-repeat;
  border: none;
  display: block;
  margin: 5px;
  right: 10px;
  height: 20px;
  width: 20px;
}