.sign-in-page {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.sign-in-form {
  width: 325px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#sign-in-title {
  font-weight: 400;
  margin: 20px;
}

.sign-in-input {
  height: 40px;
  border: none;
  font-size: 15px;
  color: #3c3b3b;
  border: 1px solid gray;
}

/* #sign-in-password {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

} */

.sign-in-button {
  height: 30px;
  background: #c02d34;
  border: none;
  color: white;
  font-size: 15px;
}