footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c02d34;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.5);
}

.icon {
  height: 25px;
  width: 25px;
}

#favorites-icon {
  background-image: url('/user.svg');
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33.5%;
  transition: .5s ease;
}

#home {
  background-image: url('/search.svg');
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33%;
  transition: .5s ease;
}

#tickets {
  background-image: url('/tickets.svg');
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33.5%;
  transition: .5s ease;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}