footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c02d34;
}

.icon {
  height: 25px;
  width: 25px;
}

#favorites {
  background-image: url('/user.svg');
  background-size: 28%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33.5%;
  transition: .5s ease;
}

#home {
  background-image: url('/home.svg');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33%;
  transition: .5s ease;
}

#tickets {
  background-image: url('/tickets.svg');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 33.5%;
  transition: .5s ease;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}