footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c02d34;
}

.icon {
  height: 25px;
  width: 25px;
}

#home {
  height: 30px;
  width: 30px;
}

#tickets {
  height: 30px;
  width: 30px;
}