body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.link {
  color: #222222;
}

.button {
  width: 90%;
  height: 30px;
  background: #c02d34;
  border: none;
  color: white;
  font-size: 15px;
}