body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

p {
  margin: 0;
}

.link {
  color: #222222;
}
 
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 90%;
  height: 35px;
  background: #c02d34;
  border: none;
  color: white;
  font-size: 15px;
  margin: 10px 0;
}

.button:disabled {
  background: #bb5555;
}

.sign-up-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  padding-bottom: 10px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 20px;
  font-weight: 300;
}

.input {
  height: 40px;
  width: 90%;
  border: none;
  font-size: 15px;
  padding: 0 10px;
  outline: none;
}

.input-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 15px;
  border: 1px solid hsl(0, 0%, 50%);
  border-bottom: none;
  width: 90%;
  padding: 0 10px 0 0;
}

.last-input-container {
  border-bottom: 1px solid gray;
}

.delete-button {
  background: transparent;
  background-image: url('/delete-button.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  border: none;
  height: 15px;
  width: 15px;
  outline: none;
}